// COMMON :: START

/* CUSTOM CURSOR */

//* {
//  cursor: none !important;
//}

#overlay {
  z-index: 990;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(#131313, 0.75);
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #dc5656;
}

.cursor-dot-outline {
  width: 30px;
  height: 30px;
  background-color: rgba(#dc5656, 0.5);
}

// COMMON :: END
