// SECTION :: START

section#get.get
  .c-grid
    .get__wrapper
      .get__wrapper-left

        img.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")(src="img/img-get.png" srcset="img/img-get@2x.png" alt="")

      .get__wrapper-right
        div

          .get__header.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
            div
              p!= "Minted NFTs: <span>472</span>"
            div
              img(src="img/path-line-vertical.png" srcset="img/path-line-vertical@2x.png 2x" alt="")
              img(src="img/path-line-horizontal.png" srcset="img/path-line-horizontal@2x.png 2x" alt="")
            div
              p!= "Total Number: <span>500</span>"

          h2.get__title.c-title.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")!= "Get Yours <span>NOW</span>"
          p.get__desc.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")!= "A collection of <strong>8 exclusive NFTS</strong> sit amet, consectetur adipiscing elit. Vivamus luctus molestie nisi, pulvinar finibus ex. Phasellus et sollicitudin metus. In luctus, elit ac hendrerit cursus, augue sem sagittis eterum noi."

          .get__footer.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
            div

              div
                img(src="img/img-get-toggle.png" srcset='img/img-get-toggle@2x.png' alt="")
              p
                | 0.02
                span per NFT

            div
              img(src="img/path-line-vertical.png" srcset="img/path-line-vertical@2x.png 2x" alt="")
            div

                .allTime
                  div.days
                  p :
                  div.hrs
                  p :
                  div.min
                  p :
                  div.sec

            div

              .c-btn__wrapper
                a.c-btn(href="#" disabled)
                  u.c-btn__mask Mint NOW
                  span Mint NOW


// SECTION :: END
