// SECTION :: START

section#together.together

  .together__content
    h2.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s") We believe in
    h2.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s") a brand governed copy
    h2.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s") by it’s tokenholders!

  .together__bg
    div
      div#togetherAnimation
        div#togetherAnimationImg1
          img(src="img/togrther-flame-right.png" srcset="img/togrther-flame-right@2x.png 2x" alt="")
        div#togetherAnimationImg2
          img(src="img/togrther-flame-left.png" srcset="img/togrther-flame-left@2x.png 2x" alt="")
        div#togetherAnimationImg3
          img(src="img/togrther-flame-center.png" srcset="img/togrther-flame-center@2x.png 2x" alt="")
        div#togetherAnimationImg4
          img(src="img/together-flame-blur.png" srcset="img/together-flame-blur@2x.png 2x" alt="")
        div#togetherAnimationImg5
          img(src="img/togrther-man.png" srcset="img/togrther-man@2x.png 2x" alt="")

    div
      h2 We believe in a brand governed copy
      h2 by it’s tokenholders!
      h3 Let’s all
      h3!= "<span>GROW</span>"

  .c-grid
    .together__wrapper
      h3!= "<span>TOGETHER!</span>"

// SECTION :: END
