// SECTION :: START

.benefits {
  padding-top: 100px;
  padding-bottom: 200px;
  @include adaptive(1365) {
    padding-top: 50px;
    padding-bottom: 150px;
  }
  @include adaptive(1023) {
    padding-bottom: 100px;
  }

  &__title {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
      text-align: center;
      @include adaptive(1023) {
        margin-bottom: 50px;
      }
    }

    img {
      z-index: 0;
      position: absolute;
      display: block;
      width: 100%;
      max-width: 50%;
      height: auto;
      object-fit: contain;
      object-position: center;
      @include adaptive(767) {
        left: 0;
        right: 0;
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
      }

      &:nth-of-type(1) {
        top: 0;
        left: 0;
      }
      &:nth-of-type(2) {
        right: 0;
        bottom: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    @include adaptive(1023) {
      padding-bottom: 50px;
    }

    li {
      display: flex;
      align-items: flex-start;

      &:not(:last-of-type) {
        padding-bottom: 30px;
        @include adaptive(767) {
          padding-bottom: 20px;
        }
      }

      > div {
        &:nth-of-type(1) {
          width: 50px;
          padding-top: 2px;
          @include adaptive(767) {
            width: 35px;
          }
        }
        &:nth-of-type(2) {
          flex: 1;
          min-width: 1px;
          max-width: 100%;
        }
      }
    }

    .icon-font {
      color: #ff511c;
      font-size: 25px;
      @include adaptive(767) {
        font-size: 20px;
      }
    }

    p {
      font-size: 17px;
      font-weight: bold;
      color: #ffffff;
      @include adaptive(767) {
        font-size: 14px;
      }

      span {
        color: #ff511c;
      }
    }
  }
}

// SECTION :: END
