// SECTION :: START

section#menu.menu(mobile-block-js)
  div

    nav.header__nav
      a.is-active(href="#roadmap") ROADMAP
      a(href="#club") Club Physique
      a(href="#benefits") BENEFITS

    .c-btn__wrapper
      a.c-btn(href="#")
        u.c-btn__mask
          i.icon-font.icon-discord
          != "Join Now"
        span
          i.icon-font.icon-discord
          != "Join Now"

      a.c-btn(href="#")
        u.c-btn__mask
          != "Connect Wallet"
        span
          != "Connect Wallet"

// SECTION :: END
