// TITLE :: START

.c-title {
  font-size: 90px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.1;
  letter-spacing: 10px;
  font-family: "CheddarGothicSansItalic", sans-serif;
  text-shadow: 3px 3px 0px rgb(19, 19, 19), 5px 5px 0px rgb(74, 74, 74);
  @include adaptive(1439) {
    font-size: 80px;
  }
  @include adaptive(1279) {
    font-size: 70px;
  }
  @include adaptive(767) {
    font-size: 65px;
  }

  &--small {
    font-size: 70px;
    letter-spacing: 2px;
    @include adaptive(767) {
      font-size: 50px;
    }
  }

  span {
    color: #ff511c;
  }
}

// TITLE :: END
