// SECTION :: START

.menu {
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  top: 105px;
  left: 0;
  width: 100%;
  max-width: 290px;
  height: calc(100% - 105px);
  padding: 50px 15px;
  background-color: #131313;
  background-image: url('../img/img-bg@2x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include adaptive(767) {
    top: 85px;
    height: calc(100% - 85px);
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    @include transition(opacity, visibility, transform);
  }

  &.is-animated {
    @include transition(opacity, visibility, transform);
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    a {
      min-height: 45px;
      max-height: 55px;
      margin-right: 0 !important;
      font-size: 14px;

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }
  }

  .c-btn {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    .icon-font {
      margin-right: 15px;
    }

    &__wrapper {
      flex-direction: column;
      width: 100%;
    }
  }
}

// SECTION :: END
